.titre-faq {
  color: #91ca3f;
  margin-bottom: 50px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("../../assets/carOpacity.png");
  background-repeat: no-repeat;
  width: 100%;
}

.questions-faq {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sous-titre-faq {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #91ca3f;
}

.rubrique-questions {
  margin-bottom: 3%;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

.rubrique-charte {
  margin-bottom: 3%;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

.rubrique-informations {
  margin-bottom: 3%;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}
