* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.DisplayCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  max-height: 400px;
}
.DisplayCardsId {
  display: flex;
  margin-top: 4rem;
}
.searchbar {
  width: 20rem;
  height: 2rem;
}
