* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.DisplayCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  max-height: 400px;
}
.DisplayCardsId {
  display: flex;
  margin-top: 4rem;
}
.searchbar {
  width: 30rem;
  height: 2.5rem;
  border-radius: 1rem;
  text-align: center;
  border-color: #062f45;
}

.searchbar:focus {
  outline-color: #047e83;
}

.adminCtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
