* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.headerCar {
  width: 1100px;
}

.leftContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slogContainer {
  margin-top: -20rem;
  margin-left: 5rem;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #062f45;
  font-size: 2.5rem;
}

span {
  color: #91ca3f;
  font-size: 5rem;
}

.button1 {
  font-size: 30px;
  color: #71b216;
  background-color: transparent;
  border: solid 6px #91ca3f;
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.buttonCo {
  color: white;
  background-color: #91ca3f;
  border: solid 2px #91ca3f;
  padding: 0.6rem 0.4rem;
  cursor: pointer;
}

.buttonDeco {
  background-color: transparent;
  border: solid 2px #91ca3f;
  padding: 0.6rem 0.4rem;
  cursor: pointer;
}
