.inscription {
  width: 600px;
  max-width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin-top: 1rem;
  margin-bottom: 8rem;
}

.inscriptionTitle {
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}

.inscriptionLabel {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.inscriptionHeader {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  width: 550px;
  max-width: 100%;
}

.inscriptionLogo {
  display: flex;
  width: 30%;
  margin-bottom: 1rem;
}

.inscriptionInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #092d44;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #d7f3ff;
}

.inscriptionText {
  font-size: 13px;
}

.inscriptionButton {
  padding: 10px;
  background-color: #7cdb58;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;
}

.inscriptionButton:hover {
  background-color: #29a895;
}

@media screen and (max-width: 970px) {
  .inscriptionHeader {
    font-size: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  .inscriptionLogo {
    width: 30%;
  }
}
