* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navAdmin_container {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fdfdfb;
  border-right: solid 0.5px #eeeeeb;
}
