* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navAdmin_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fdfdfb;
  border-right: solid 3px #eeeeeb;
  padding: 0rem 1rem;
}
