* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navAdmin_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fdfdfb;
  border-right: solid 3px #eeeeeb;
  padding: 0rem 1rem;
}
.buttonDecoAdmin {
  padding: 0.4rem 3.6rem;
  border-radius: 0.5rem;
  background-color: #cdfee1;
  border: 3px solid #062f45;
  cursor: pointer;
}
.CardAdminCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.adminPic {
  margin-top: 13rem;
}
