* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav_container {
  border-radius: 1rem;
  border: solid 4px #062f45;
  background-color: #047e83;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav_img {
  width: 80%;
}
.nav_text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cdfee1;
  max-height: 600px;
  min-height: 40px;
  border-radius: 0rem 0rem 0.8rem 0.8rem;
  font-size: 16px;
}

@media screen and (max-width: 450px) {
  .nav_text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdfee1;
    max-height: 600px;
    min-height: 40px;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
    font-size: 9px;
    text-align: center;
  }
  .nav_container {
    border: solid 2px #062f45;
  }
}
