* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav_container {
  border-radius: 1rem;
  border: solid 4px #062f45;
  background-color: #047e83;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.nav_img {
  width: 80%;
}
.nav_text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cdfee1;
  max-height: 600px;
  min-height: 40px;
  border-radius: 0rem 0rem 0.8rem 0.8rem;
  font-size: 16px;
}
