.Admin_container {
  display: flex;
  width: 100%;
  background-image: url("../assets/carOpacity.png");
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background-color: #fdfdfb;
}
