* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homeContainer {
  background-color: #fdfdfb;
}

.menuCardCtn {
  display: flex;
  justify-content: space-around;
  margin-top: 8rem;
  margin-bottom: 14rem;
}

a:visited {
  color: #062f45;
}

@media screen and (max-width: 630px) {
  .menuCardCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 8rem;
    margin-bottom: 14rem;
  }
}
